In [1]:
file_path = 'user_log'

In [2]:
lines = open(file_path).readlines()
len(lines)

10379587

In [3]:
# import random
# res = random.sample(range(1, 10379580), 10000)
# len(res)

In [4]:
import json

data = [json.loads(i.strip('\n')) for i in lines]
len(data)

10379587

In [5]:
data[1]

{'user_id': 93, 'timestamp': 1515414776, 'action': 'LOGOUT'}

In [6]:
import pandas as pd

In [7]:
df = pd.DataFrame(data)
df.head()

   user_id   timestamp     action
0       51  1515408470      LOGIN
1       93  1515414776     LOGOUT
2       93  1515428096     LOGOUT
3       93  1515428099      LOGIN
4      168  1515429612  VIEW_POST

In [8]:
del data

In [11]:
len(df['user_id'].unique())

32246

In [12]:
users = df['user_id'].unique().tolist()
len(users)

32246

In [17]:
import random
sample_users = random.sample(users, 3000)
len(sample_users)

3000

In [18]:
df[df['user_id'].isin(sample_users)].to_csv('3000_users.csv', index=False)

In [9]:
df['user_id'].value_counts().reset_index().to_csv('user_counts.csv', index=False)

In [10]:
df[df['user_id'] == 432]

Empty DataFrame
Columns: [user_id, timestamp, action]
Index: []

In [11]:
df.to_csv('user_log_sample.csv', index=False)